body {
    font-family: "Urbanist", sans-serif;
    color: rgb(255, 0, 0);
    background-color: black;
    scroll-behavior: smooth;
}



h1 {
    font-family: "Anton", sans-serif;
    font-size: 100px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 0, 0);
    text-align: center;

}






@media screen and (max-width: 768px) {
    h1 {
        font-size: 80px;
    }
}