        body {
            margin: 0;
            overflow: hidden;
            background: #111;

        }

        .wrap {
            display: flex;
            flex-direction: row;
            width: 450vw;
            height: 100vh;
        }

        .section {
            width: 100vw;
            height: 100vh;
            padding: 80px 20px;
            box-sizing: border-box;
            text-align: center;
            opacity: 0;
            transition: opacity 0.7s ease;
            margin-right: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }


        .section.active {
            opacity: 1;
        }


        /* part for menu*/
        .menu-button {
            position: fixed;
            top: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            background-color: #FF0000;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            z-index: 1001;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }


        .menu-icon {
            color: white;
            font-size: 24px;
            line-height: 1;
            transition: transform 0.3s ease;
        }

        .menu-button.open .menu-icon {
            transform: rotate(45deg);
            font-size: 30px;
        }


        .menu-popup {
            position: fixed;
            top: 80px;
            right: 20px;
            width: 180px;
            background-color: #000;
            border-radius: 8px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
            z-index: 1000;
            padding: 10px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-20px);
            transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
        }

        .menu-popup.open {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        .menu-popup a {
            display: block;
            color: #FF0000;

            text-decoration: none;
            padding: 10px;
            transition: background-color 0.2s;
            border-radius: 4px;
        }

        .menu-popup a:hover {
            background-color: #333;
        }




        @media screen and (max-width: 768px) {


            body {

                overflow-x: hidden !important;
                overflow-y: auto !important;
            }

            .wrap {
                display: block;
                width: 100%;
                height: auto;
            }

            .section {
                width: 100% !important;
                height: 100vh;
                margin-right: 0 !important;
                opacity: 1;
            }
        }